{% from "shuup/admin/macros/general.jinja" import content_block %}

{% macro render_command_button(condition, title, command_url) %}
    {% if condition %}
    <button type="submit" class="btn btn-primary" onclick="sendCommand('{{ command_url }}')">
        {{ title }}
    </button>
    {% endif %}
{% endmacro %}

{% set mailchimp_form = form["mailchimp"] %}
{% set show_instructions = mailchimp_form.show_instructions() %}

{% call content_block(_("Mailchimp"), "fa-envelope-o") %}
    {% if show_instructions %}
    <div class="row col-sm-10">
        <p>
        {% trans -%}
        To enable your integration with Mailchimp, please create a Mailchimp list in your Mailchimp admin panel
        and link it to Shuup. The List ID can be found under "Settings->List name and defaults" in the Mailchimp admin panel.
        {%- endtrans %}
        </p>
        <p>
        {% trans -%}
        The second step is to generate an API key for the integration in your Mailchimp admin panel and add it to the form below.
        API key generation can be found under "Account->Extras->API keys" in the Mailchimp admin panel.
        {%- endtrans  %}
        </p>
        <p>
        {% trans -%}
        When you have all the configurations saved test your integration and enable it.
        {%- endtrans  %}
        </p>
    </div>
    {% endif %}
    <br>
    {{ bs3.field(mailchimp_form["is_enabled"]) }}
    {{ bs3.field(mailchimp_form["username"]) }}
    {{ bs3.field(mailchimp_form["api_key"]) }}
    {{ bs3.field(mailchimp_form["list_id"]) }}

    {% set test_url = url("shuup_admin:mailchimp.configurations_test", shop_pk=shop.pk) %}
    <button type="submit" class="btn btn-warning center-block" onclick="sendCommand(event, '{{ test_url }}')">
        <i class="fa fa-check"></i>
        {% trans %}Test configurations{% endtrans %}
    </button>
    <br>
    <p class="text-center">{% trans %}Please save configuration keys before testing.{% endtrans %}</p>
{% endcall %}

{% block extra_js %}
<script>
    function sendCommand(event, url) {
        event.preventDefault();
        const defaultError = "{% trans %}Unexpected error happened please try again.{% endtrans %}";
        $.ajax({
            type: "GET",
            url: url,
            success: function(data) {
                Messages.enqueue({
                    tags: "success",
                    text: data.message
                });
            },
            error: function(response) {
                Messages.enqueue({
                    tags: "error",
                    text: response.responseJSON ? response.responseJSON.message : defaultError
                });
            }
        });
        return false;
    }
</script>
{% endblock %}
