<section class="newsletter-lift">
    <h2 class="text-uppercase text-center">{{ title }}</h2>
    <p class="lead text-center">{{ lead }}</p>
    <form class="newsletter-subscription" method="POST" action="{{ url("shuup:subscribe_newsletter") }}">
        <div class="form-group">
            <label for="subscribe" class="sr-only">{{ input_placeholder_text }}</label>
            <div class="input-group">
                <input id="subscribe" type="email" name="email" class="form-control" placeholder="{{ input_placeholder_text }}">
                <span class="input-group-btn">
                    <button class="btn btn-primary form-control">{{ link_title }}</button>
                </span>
            </div>
            <div class="newsletter-error text-danger"></div>
        </div>
    </form>

</section>

<script>
function sendSubscription(form) {
    $.ajax({
        type: $(form).attr("method"),
        url: form.action,
        data: $(form).serialize(),
        context: "json",
        success: function () {
            $(".newsletter-error").html('<p class="text-success">{{ success_message }}</p>');
            $("form.newsletter-subscription").trigger("reset");
        },
        error: function () {
            $(".newsletter-error").html('<p class="text-danger">{{ error_message }}</p>');
        }
    });
}
</script>
